{########### 버거 ###########}
{% if burger_list %}
<ul>
    {% for burger in burger_list %}
    <div style="display: inline-block;">
        <table frame="below" cellpadding="10">
            <caption>
                <h3>{{ burger.menu_name }}</h3>
            </caption>
            <tbody>
                {#---------- 기본 정보 ----------#}
                <tr>
                    <td rowspan="10" valign="top">
                        <img src="../../static/img/BURGERKING_MENU/{{ burger.image }}" alt="이미지를 불러오지 못했습니다" height="150px" />
                    </td>
                    <th align="right" valign="top">가격</th>
                    <td width="300px">{{ burger.price }}원</td>
                </tr>
                {% if burger.info %}
                <tr>
                    <th align="right" valign="top">정보</th>
                    <td>{{ burger.info }}</td>
                </tr>
                {% endif %}
                {% if burger.rank %}
                <tr>
                    <th align="right" valign="top">인기 순위</th>
                    <td>{{ burger.rank }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th align="right" valign="top">맵기</th>
                    <td>{{ burger.spicy }}단계</td>
                </tr>
                {% if burger.N_calories or burger.N_protein or burger.N_sodium or burger.N_sugars or burger.N_saturated_fat %}
                <tr>
                    {#---------- 영양 성분 ----------#}
                    <th align="right" valign="top">영양 성분</th>
                    <td>
                        칼로리 : {{ burger.N_calories }}<br />
                        단백질 : {{ burger.N_protein }}<br />
                        나트륨 : {{ burger.N_sodium }}<br />
                        설탕 : {{ burger.N_sugars }}<br />
                        포화지방 : {{ burger.N_saturated_fat }}<br />
                    </td>
                </tr>
                {% endif %}
                {% if burger.A_milk or burger.A_chicken or burger.A_pork or burger.A_beef or burger.A_egg or burger.A_squid or burger.A_tomato or burger.A_clam or burger.A_shrimp %}
                <tr>
                    {#---------- 알레르기 ----------#}
                    <th align="right" valign="top">알레르기</th>
                    <td>
                        {% if burger.A_milk %} 우유<br /> {% endif %}
                        {% if burger.A_chicken %} 치킨<br /> {% endif %}
                        {% if burger.A_pork %} 돼지<br /> {% endif %}
                        {% if burger.A_beef %} 소<br /> {% endif %}
                        {% if burger.A_egg %} 난류<br /> {% endif %}
                        {% if burger.A_squid %} 오징어<br /> {% endif %}
                        {% if burger.A_tomato %} 토마토<br /> {% endif %}
                        {% if burger.A_clam %} 조개<br /> {% endif %}
                        {% if burger.A_shrimp %} 새우<br /> {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if burger.I_sliced_cheese or burger.I_shredded_cheese or burger.I_pickle or burger.I_jalapeno or burger.I_whole_shrimp or burger.I_bacon or burger.I_tomato or burger.I_garlic_chip or burger.I_lettuce or burger.I_onion or burger.I_hashbrown %}
                <tr>
                    {#---------- 재료 ----------#}
                    <th align="right" valign="top">재료</th>
                    <td>
                        {% if burger.I_sliced_cheese %} 얇게 썬 치즈<br /> {% endif %}
                        {% if burger.I_shredded_cheese %} 잘게 썬 치즈<br /> {% endif %}
                        {% if burger.I_pickle %} 피클<br /> {% endif %}
                        {% if burger.I_jalapeno %} 할라피뇨<br /> {% endif %}
                        {% if burger.I_whole_shrimp %} 통새우<br /> {% endif %}
                        {% if burger.I_bacon %} 베이컨<br /> {% endif %}
                        {% if burger.I_tomato %} 토마토<br /> {% endif %}
                        {% if burger.I_garlic_chip %} 마늘 칩<br /> {% endif %}
                        {% if burger.I_lettuce %} 상추<br /> {% endif %}
                        {% if burger.I_onion %} 양파<br /> {% endif %}
                        {% if burger.I_hashbrown %} 해쉬브라운<br /> {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if burger.P_beef or burger.P_shrimp or burger.P_chicken or burger.P_steak %}
                <tr>
                    {#---------- 패티 ----------#}
                    <th align="right" valign="top">패티</th>
                    <td>
                        {% if burger.P_beef %} 소고기 패티 : {{ burger.P_beef }}장<br /> {% endif %}
                        {% if burger.P_shrimp %} 새우 패티 : {{ burger.P_shrimp }}장<br /> {% endif %}
                        {% if burger.P_chicken %} 치킨 패티 : {{ burger.P_chicken }}장<br /> {% endif %}
                        {% if burger.P_steak %} 스테이크 패티 : {{ burger.P_steak }}장<br /> {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if burger.S_mayo or burger.S_bulgogi or burger.S_barbecue or burger.S_ketchup or burger.S_diablo or burger.S_spicy_tomato or burger.S_cheese or burger.S_tartar or burger.S_baconjam or burger.S_mustard %}
                <tr>
                    {#---------- 소스 ----------#}
                    <th align="right" valign="top">소스</th>
                    <td>
                        {% if burger.S_mayo %} 마요네즈<br /> {% endif %}
                        {% if burger.S_bulgogi %} 불고기 소스<br /> {% endif %}
                        {% if burger.S_barbecue %} 바비큐 소스<br /> {% endif %}
                        {% if burger.S_ketchup %} 캐첩<br /> {% endif %}
                        {% if burger.S_diablo %} 디아블로 소스<br /> {% endif %}
                        {% if burger.S_spicy_tomato %} 매운 토마토 소스<br /> {% endif %}
                        {% if burger.S_cheese %} 치즈 소스<br /> {% endif %}
                        {% if burger.S_tartar %} 타르타르 소스<br /> {% endif %}
                        {% if burger.S_baconjam %} 베이컨잼<br /> {% endif %}
                        {% if burger.S_mustard %} 머스타드<br /> {% endif %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if side_list and not burger_list %}
    <hr/>
{% endif %}

{########### 사이드 ###########}
{% if side_list %}
<ul>
    {% for side in side_list %}
    <div style="display: inline-block;">
        <table frame="below" cellpasideing="10">
            <caption>
                <h3>{{ side.menu_name }}</h3>
            </caption>
            <tbody>
                {#---------- 기본 정보 ----------#}
                <tr>
                    <td rowspan="10" valign="top">
                        {% if side.image %}
                        <img src="{{ side.image.url }}" alt="이미지를 불러오지 못했습니다" height="150px" />
                        {% endif %}
                    </td>
                    <th align="right" valign="top">가격</th>
                    <td width="300px">{{ side.price }}원</td>
                </tr>
                <tr>
                    <th align="right" valign="top">정보</th>
                    <td>{{ side.info }}</td>
                </tr>
                <tr>
                    <th align="right" valign="top">인기 순위</th>
                    <td>{{ side.rank }}</td>
                </tr>
                <tr>
                    <th align="right" valign="top">맵기</th>
                    <td>{{ side.spicy }}단계</td>
                </tr>
                {% if burger.N_calories or burger.N_protein or burger.N_sodium or burger.N_sugars or burger.N_saturated_fat %}
                <tr>
                    {#---------- 영양 성분 ----------#}
                    <th align="right" valign="top">영양 성분</th>
                    <td>
                        칼로리 : {{ side.N_calories }}<br />
                        단백질 : {{ side.N_protein }}<br />
                        나트륨 : {{ side.N_sodium }}<br />
                        설탕 : {{ side.N_sugars }}<br />
                        포화지방 : {{ side.N_saturated_fat }}<br />
                    </td>
                </tr>
                {% endif %}
                {% if burger.A_milk or burger.A_chicken or burger.A_pork or burger.A_beef or burger.A_egg or burger.A_squid or burger.A_tomato or burger.A_clam or burger.A_shrimp %}
                <tr>
                    {#---------- 알레르기 ----------#}
                    <th align="right" valign="top">알레르기</th>
                    <td>
                        {% if side.A_milk %} 우유<br /> {% endif %}
                        {% if side.A_chicken %} 치킨<br /> {% endif %}
                        {% if side.A_pork %} 돼지<br /> {% endif %}
                        {% if side.A_beef %} 소<br /> {% endif %}
                        {% if side.A_egg %} 난류<br /> {% endif %}
                        {% if side.A_squid %} 오징어<br /> {% endif %}
                        {% if side.A_tomato %} 토마토<br /> {% endif %}
                        {% if side.A_clam %} 조개<br /> {% endif %}
                        {% if side.A_shrimp %} 새우<br /> {% endif %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if not burger_list or not side_list and dd_list %}
    <hr/>
{% endif %}

{########### 음료&디저트 ###########}
{% if dd_list %}
<ul>
    {% for dd in dd_list %}
    <div style="display: inline-block;">
        <table frame="below" cellpadding="10">
            <caption>
                <h3>{{ dd.menu_name }}</h3>
            </caption>
            <tbody>
                {#---------- 기본 정보 ----------#}
                <tr>
                    <td rowspan="10" valign="top">
                        {% if dd.image %}
                        <img src="{{ dd.image.url }}" alt="이미지를 불러오지 못했습니다" height="150px" />
                        {% endif %}
                    </td>
                    <th align="right" valign="top">가격</th>
                    <td width="300px">{{ dd.price }}원</td>
                </tr>
                <tr>
                    <th align="right" valign="top">정보</th>
                    <td>{{ dd.info }}</td>
                </tr>
                <tr>
                    <th align="right" valign="top">인기 순위</th>
                    <td>{{ dd.rank }}</td>
                </tr>
                <tr>
                    <th align="right" valign="top">맵기</th>
                    <td>{{ dd.spicy }}단계</td>
                </tr>
                <tr>
                    {#---------- 영양 성분 ----------#}
                    <th align="right" valign="top">영양 성분</th>
                    <td>
                        칼로리 : {{ dd.N_calories }}<br />
                        단백질 : {{ dd.N_protein }}<br />
                        나트륨 : {{ dd.N_sodium }}<br />
                        설탕 : {{ dd.N_sugars }}<br />
                        포화지방 : {{ dd.N_saturated_fat }}<br />
                    </td>
                </tr>
                <tr>
                    {#---------- 알레르기 ----------#}
                    <th align="right" valign="top">알레르기</th>
                    <td>
                        {% if dd.A_milk %} 우유<br /> {% endif %}
                        {% if dd.A_chicken %} 치킨<br /> {% endif %}
                        {% if dd.A_pork %} 돼지<br /> {% endif %}
                        {% if dd.A_beef %} 소<br /> {% endif %}
                        {% if dd.A_egg %} 난류<br /> {% endif %}
                        {% if dd.A_squid %} 오징어<br /> {% endif %}
                        {% if dd.A_tomato %} 토마토<br /> {% endif %}
                        {% if dd.A_clam %} 조개<br /> {% endif %}
                        {% if dd.A_shrimp %} 새우<br /> {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</ul>
{% endif %}

{% if burger_list or side_list or dd_list %}
{% else %}
검색된 매뉴가 없습니다.
{% endif %}