{% if menu_list %}
    <ul>
    {% for menu in menu_list %}
        <div style="display: inline-block;">
            <table frame="below" cellpadding="10">
                <caption><h3>{{ menu.name }}</h3></caption>
                <tbody>
                    <tr>
                        <td rowspan="6" valign="top">
                            <img
                            src="../../static/img/BURGERKING_MENU/Burger/{{ menu.name }}.png"
                            alt="이미지를 불러오지 못했습니다"
                            height="150px"
                        />
                        </td>
                        <th align="right" valign="top">가격</th>
                        <td width="300px">{{ menu.price }}원</td>
                    </tr>
                    <tr>
                        <th align="right" valign="top">정보</th>
                        <td>{{ menu.info }}</td>
                    </tr>
                    <tr>
                        <th align="right" valign="top">재료</th>
                        <td>
                            {% if menu.Bulgogi %} 불고기<br/> {% endif %}
                            {% if menu.Chicken %} 치킨<br/> {% endif %}
                            {% if menu.Shrimp %} 새우<br/> {% endif %}
                            {% if menu.Beef %} 소고기<br/> {% endif %}
                            {% if menu.Prok %} 돼지고기<br/> {% endif %}
                            {% if menu.Bacon %} 베이컨<br/> {% endif %}
                            {% if menu.Squid %} 오징어<br/> {% endif %}
                            {% if menu.Cheese %} 치즈<br/> {% endif %}
                            {% if menu.Tomato %} 토마토<br/> {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th align="right" valign="top">맵기</th>
                        <td>
                            {% if menu.Spicy %}
                                맵다
                            {% else %}
                                안맵다
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th align="right" valign="top">와퍼</th>
                        <td>
                            {% if menu.Whopper %}
                                맞다
                            {% else %}
                                아니다
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th align="right" valign="top">HOT/COLD</th>
                        <td>
                            {% if menu.Hot %}
                                HOT
                            {% else %}
                                Cold
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>메뉴가 없습니다.</p>
{% endif %}